{% extends 'base3.html' %}

{% block title %}Пользователи{% endblock %}

{% block content %}
	<div class="AdminblockPage">
		<div class="container">
			<div class="blockAdminIn"><span class="adthemeName">О нас</span> <a href="/admin/pages/aboutus/" class="hrefAdminIn">Перейти</a></div>
			<div class="blockAdminIn"><span class="adthemeName">Контакты</span> <a href="/admin/pages/contacts/" class="hrefAdminIn">Перейти</a></div>
			<div class="blockAdminIn"><span class="adthemeName">Создатель</span> <a href="/admin/pages/creator/" class="hrefAdminIn">Перейти</a></div>
			<div class="blockAdminIn"><span class="adthemeName">Как скачать</span> <a href="/admin/pages/howload/" class="hrefAdminIn">Перейти</a></div>
			<div class="blockAdminIn"><span class="adthemeName">Главная страница</span> <a href="/admin/pages/indexpage/" class="hrefAdminIn">Перейти</a></div>
			<div class="blockAdminIn"><span class="adthemeName">Установка</span> <a href="/admin/pages/setup/" class="hrefAdminIn">Перейти</a></div>
		</div>
	</div>
{% endblock %}