{% extends 'base3.html' %}

{% block title %}Пользователи{% endblock %}

{% block content %}
	<div class="AdminblockPage">
		<div class="container">
			{{form_start(searchForm)}}
			{{form_widget(searchForm)}}
			{{form_end(searchForm)}}
			<hr>
			{% for a in users %}
				<form action="" method="POST">
					<input type="text" value="{{a.id}}" name="userId" style="display: none;">
					{{a.login}} Удалить? - <input type="checkbox" name="chBox">
					<button type="submit" name="adminUserSubmit">Подтвердить</button>
				</form>
			{% endfor %}
		</div>
	</div>
{% endblock %}