<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<link rel="stylesheet" type="text/css" href="{{ asset('asset/other/indexStyle.css') }}" async>
	<link rel="stylesheet" type="text/css" href="{{ asset('asset/other/Fonts/fonts.css') }}" async>
	<link rel="stylesheet" type="text/css" href="{{ asset('asset/other/adaptate.css') }}" async>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet" async>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" async>
	{% block stylesheet %}
	{% endblock %}
</head>
<body style="background-color: white;">
	<header style="background-color: #f4f4f4;">
		<div class="container">
			<a href="/admin" style="font-size: 2em;">Админ панель</a><a href="/" style="font-size: 1em; margin-left: 150px;">Главная</a><a href="/admin/logout/" style="font-size: 1em; margin-left: 150px;">Выйти из админ панели</a>
		</div>
		</header>

{% block content %}{% endblock %}
		

		<footer>
			<div class="block1footer">
				<div class="container">
					<img src="{{ asset('asset/other/images/svg/183_208184208188208181208189208184-1.svg') }}" height="50px" id="footerImg">
					<div class="textFooter1">beammods.ru - это сообщество мододелов, которые могут на свободной основе выложить свой мод здесь.</div>
					<div class="modifications"><img src="{{ asset('asset/other/images/svg/web.svg') }}" id="modddd"> <div class="modInf"><span> - на сайте <span class="modInfC"></span> модификации</span></div></div>
				</div>
			</div>
			<div class="block2footer">
				<div class="container">
					<div class="rights"><span>beammods.ru ©2020-2020 Все права защищены</span></div>
					<nav class="navFooter"><a href="/" class="footerNavHref">Главная</a><a href="/forum" class="footerNavHref">Форум</a> <a href="/contacts" class="footerNavHref">Контакты</a> <a href="/aboutus" class="footerNavHref">О нас</a> <a href="/creator" class="footerNavHref">Создатель</a></nav>
				</div>
			</div>
		</footer>

		{% block javascript %}{% endblock %}
</html>
</body>
</html>